Django==5.2.7
whitenoise==6.7.0
requests==2.32.3
beautifulsoup4==4.12.3
gunicorn==23.0.0
uvicorn==0.34.0
markdown2==2.5.1
bleach==6.1.0
django-compressor==4.6.0
django-tailwind>=3.8.0
django-browser-reload>=1.11.0
django-redis==5.4.0
