{% autoescape off %}
Olá,

Você solicitou a redefinição de senha da sua conta no AgroHub UniRV.

Para redefinir sua senha, clique no link abaixo:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Se você não solicitou esta redefinição, ignore este e-mail. Sua senha permanecerá inalterada.

Este link expira em 24 horas.

---
AgroHub UniRV
Centro de Inovação e Tecnologia
Universidade de Rio Verde

Este é um e-mail automático, não responda.
{% endautoescape %}

